/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }
    .show-on-mobile {
        display: none;
    }

    .featured .show-on-mobile {
        display: none;
    }
}

/* Tablet & Mobile */
@media screen and (max-width: 991px) {
    .navbar {
        position: relative;
    }

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar ul {
        display: none;
    }

    .toggle-menu {
        width: 24px;
        color: #666;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu-drawer {
        padding: 60px;
        position: fixed;
        inset: 0 60% 0 0;
        background: #fff;
        z-index: 2;
        transform: translateX(-100%);
        transition: 0.5s ease;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        color: #333;
        padding: 14px 0;
        font-weight: 500;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .separate {
        border-top: 1px solid #ebebeb;
    }

    .hero-img {
        display: none;
    }
    .hero .info {
        max-width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    .hero .desc {
        width: 80%;
        margin: 30px auto 0;
    }

    .content .Trademark {
        flex-wrap: wrap;
        justify-content: center;
    }

    .list-guide .guide {
        margin: 0;
    }

    .guide {
        flex: 1;
    }

    .featured .list {
        grid-template-columns: 1fr 1fr;
    }

    .stats .row {
        flex-direction: column;
    }

    .img-block {
        order: 2;
        margin: 50px auto 0;
    }

    .stats .info {
        order: 1;
        width: 100%;
        padding: 0;
    }

    .stats .stats-trend {
        margin-left: -120px;
    }

    .stats .info .sub-title,
    .stats .info .desc {
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }

    .stats .info .desc {
        margin-top: 20px;
        width: 70%;
    }

    .stats .info .sub-title::before {
        left: 50%;
        right: 50%;
    }

    .stats .row-qty {
        flex-direction: row;
    }

    .stats .qty {
        font-size: 5rem;
    }
    .stats .qty-desc {
        margin-top: 16px;
    }

    .Subscription .body .image {
        display: none;
    }

    .footer .row:first-child {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 80px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .show-on-mobile {
        display: none;
    }
    .featured .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none;
    }

    .menu-drawer {
        inset: 0 25% 0 0;
        padding: 40px;
    }

    .navbar .actions {
        display: none;
    }

    .hero .title {
        font-size: 5rem;
        margin-top: 20px;
    }

    .hero .desc {
        width: 100%;
    }

    .hero-wrap {
        height: calc(100vh - 80px);
    }

    .clients .row:last-of-type {
        display: none;
    }
    .guides .list-guide {
        flex-direction: column;
        row-gap: 60px;
    }

    .featured .list {
        grid-template-columns: 1fr;
    }

    .stats .info .sub-title::before {
        transform: translateX(-50%, -50%);
    }
    .featured .link {
        display: none;
    }

    .featured a.show-on-mobile {
        display: block;
        margin: 10px auto;
    }

    .stats .img-block .image {
        width: 100%;
        height: 100%;
        margin-left: 100px;
    }

    .stats .stats-trend {
        margin-left: -100px;
    }

    .stats .row-qty {
        flex-direction: column;
        text-align: center;
    }

    .quantity-item {
        margin-top: 20px;
    }

    .stats .qty {
        font-size: 3.5rem;
    }

    .stats .qty-desc {
        font-size: 1.4rem;
    }

    .Subscription .info .desc {
        width: 100%;
    }

    .footer .row:first-child {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer .column {
        text-align: center;
    }

    .Subscription .info {
        padding: 20px 20px;
    }

    .Subscription .body {
        height: auto;
    }

    .footer .desc {
        margin: 40px auto;
    }
    .footer .social {
        justify-content: center;
    }

    .footer .row:last-child {
        flex-direction: column;
        align-items: start;
    }

    .footer .coppyright {
        margin: 24px 0;
    }
}
