* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* common */
a {
    text-decoration: none;
}
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
/* Header */
.header {
    position: relative;
    height: 100vh;
    background-color: #e6f0ff;
}

.navbar {
    position: relative;
    display: flex;
    padding-top: 47px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.navbar ul a:hover {
    text-decoration: underline;
}
.navbar .logo {
    margin-right: 38px;
}
.navbar ul {
    display: flex;
}

.navbar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 28px;
}

.navbar .sub-nav {
    position: absolute;
    right: 0;
}

.navbar .sub-nav .nav-link {
    color: #0f1b4c;
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar .sub-nav .btn-su {
    color: #fff;
    padding: 10px 18px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 8px;
    background: #0f1b4c;
    margin-left: 18px;
}

.sub-nav .btn:hover {
    opacity: 0.9;
}

/* hero */
.hero {
    margin-top: 130px;
}
.hero .info {
    max-width: 51%;
}
.info .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0.18px;
}
.hero .title {
    color: #000336;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 76px; /* 118.75% */
    margin-top: 8px;
}

.info .desc {
    color: #5a6473;
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 40px;
    line-height: 1.78;
}
.info .title {
    font-size: 6.2rem;
}

.info .btn-2 {
    padding: 15px 37px;
    border-radius: 12px;
    background: #0f1b4c;
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    min-width: 170px;
}

.info .btn-2:hover {
    opacity: 0.9;
}

/* img-hero */
.hero .hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}
